*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    background: #1B2366;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
header{
    width: 100%;
}
header nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    background: #00011fa0;
    backdrop-filter: blur(20px);
    transform: all .5s ease;
}
header .navlogo{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
header nav ul{
    display: flex;
}
header nav ul a{
    padding: 5px 15px;
    color: #fff;
    transition: all .3s ease;
}
header nav ul a:hover{
    color: #6BA1C4;
}
header .loginbtn{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #6BA1C4;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all .3s ease;
}
header .loginbtn:hover{
    background: transparent;
    border: 2px solid #6BA1C4;
    color: #fff;
}
header #menu-icon{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1350px){
    header nav{
        padding: 15px 4%;
    }
}
@media (max-width: 860px){
    header #menu-icon{
        display: block;
    }
    header nav ul{
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #6BA1C4;
        transition: all .5s ease;
        text-align: center;
    }
    header nav ul a{
        color: #fff;
        padding: 1rem;
        margin: 1rem;
        display: block;
    }
    header nav ul a:hover{
        background: #fff;
        color: black;
    }
    nav ul.open{
        top: 100%;
    }
    main #hero{
        display: none;
    }
    main {
        display: flex;
        width: 100%;
        justify-content: center !important;
        margin-top: 13% !important;
    }
    main #maintext{
        font-size: 100px !important;
        text-align: center;
        width: 100%;
    }
}
#login_popup{
    display: none !important;
    flex-direction: column;
    position: fixed !important;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 200px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 85px;
    font-size: 25px !important;
    border: 2px #1B2366;
    border-radius: 35px;
    background: #0a0e39b6;
    backdrop-filter: blur(20px);
}
form div{
    margin: 15px;
}
form input{
    width: 300px;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    margin-top: 5px;
}
form .loginsub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
form #loginsubbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background: #3654b1;
    color: #fff;
    font-size: 20px;
    border: 3px solid;
    border-radius: 20px;
    border: 2px solid #3654b1;
    cursor: pointer;
    transition: all 0.2s ease;
}
form #loginsubbtn:hover{
    background: transparent;
    border: 2px solid #3654b1;
    color: #fff;
}
main{
    display: flex;
    margin-top: 6%;
    justify-content: space-around;
    
}
main .home{
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;  
}
main #hero{
    width: 40%;
    align-content: center;
}
main #hero img{
    width: 100%;
}
main #maintext{
    margin-top: 10%;
    font-size: 95px;
}
main #smalltext{
    color: #8c9e8f;
    font-size: 25px;
    margin-top: 10px;
}
main .getstartedbtn{
    margin-top: 50px;
}
main .getstartedbtn a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #6BA1C4;
    border: solid 3px #6BA1C4;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 10px 20px;
}
main .getstartedbtn a:hover{
    background-color:#1B2366;
    border: solid 3px #6BA1C4;
}
@media (max-width: 1470px){
    main #maintext{
        font-size: 75px !important;
    }
    main{
        align-items: center;
        align-content:center;
    }
    main #smalltext{
        font-size: 20px!important;
        margin-top: 20px;
    }
    main .getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px !important;
    }
}
@media (max-width:1160px) {
    main #maintext{
        font-size: 60px!important;
        width: 50%;
    }
    main{
        align-content:center;
        width: 100%;
    }
    main .home{
        width: 50%;
    }
    main #smalltext{
        font-size: 15px!important;
        margin-top: 20px;
    }
    main .getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px!important;
    }
}
@media (max-width: 1023){
    main #hero{
        width: 40%;
    }
    main .home{
        width: 50%;
    }
}
@media (max-width:981px) {
    main #maintext{
        font-size: 90px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}

@media (max-width: 768px) {
    main #maintext{
        font-size: 80px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}

@media (max-width: 600px) {
    main #maintext{
        font-size: 70px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}

@media (max-width: 500px) {
    main #maintext{
        font-size: 60px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    margin-top: 50px;
    padding: 10px 10%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: #fff;
}
.first-part-footer{
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .socials ul{
    display: flex;
}
footer p{
    margin-top: 10px;
}
footer ul li {
    list-style-type: none;
    padding: 0px 10px;
    font-size: 30px;
}
footer ul li i{
    color: #6BA1C4;
    transition: all 0.2s;
}
footer ul li i:hover{
    color: #fff;
}
footer .second-part-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .second-part-footer div{
    width: 200px;
    margin-top: 30px;
}
.second-part-footer p strong {
    font-size: x-large;
}
.second-part-footer a{
    display: block;
    text-decoration: none;
    color: #6BA1C4;
    box-shadow: inset 0 0 0 0 #6BA1C4;
    color: #6BA1C4;
    padding: 3px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.second-part-footer a:hover{
    box-shadow: inset 200px 0 0 0 #6BA1C4;
    color: white;
}
footer #copyright{
    font-size: 10px;
    color: grey;
}