*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
header{
    width: 100%;
    border-bottom: #3c00ff 2px solid;
    position: fixed;
    top: 0;
    right: 0;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10%;
}
header nav a{
    text-decoration: none;
    color: #fff;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style-type: none;
    font-size: larger;
    font-style: bold;
    padding: 0px 10px;
}
header nav ul li a{
    padding-bottom: 16px;
}
header nav ul li a:hover{
    border-bottom: #fff 2px solid;
}
.navlogin{
    font-size: larger;
    font-style: bold;
    border: #000 2px solid;
    border-radius: 25px;    
}
.navlogin:hover{
    border: #fff 2px solid;
    background-color: #000;
    color: white;
}
/* header a{
    text-decoration: none;
    color: #E9D985;
}
header .navlogoitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navlogoitems #navlogo{
    padding: 20px 30px;
}
header .navlogoitems ul{
    display: flex;
    list-style: none;
}
header .navlogoitems ul li{
    text-align: center;
}
header .navlogoitems ul li a{
    color: #fff;
    padding: 20px 10px;
    text-decoration: none;
}
header .navlogoitems ul li a:hover{
    border-bottom: 3px #fff solid ;
    color: #fff;
}
header .navlogin{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}
header .navlogin a{
    border: solid 3px #007991;
    border-radius: 20px;
    padding: 8px 10px;
}
header .navlogin a:hover{
    border: solid 3px #007991;
    background-color: #007991;
    color: #222E50;
} */
main{
    margin-top: 6%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
main .home{
    width: 40%;
    margin-left: 2%;
}
main #maintext{
    font-size: 95px;
}
main #smalltext{
    color: #8c9e8f;
    font-size: 25px;
}
main .getstartedbtn{
    margin-top: 50px;
}
main .getstartedbtn a{
    text-decoration: none;
    color: white;
    background-color: #007991;
    border: solid 3px #007991;
    border-radius: 20px;
    padding: 10px 20px;
}
main .getstartedbtn a:hover{
    background-color: #222E50;
    border: solid 3px #007991;
}