*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #002D22;
    font-family: 'Ubuntu', sans-serif;
}
header{
    width: 100%;
}
header nav{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    background: #ffffff25;
    backdrop-filter: blur(20px);
    transform: all .5s ease;
}
header .navlogo{
    color: #002D22;
    font-size: 20px;
    cursor: pointer;
}
header nav ul{
    display: flex;
}
header nav ul a{
    padding: 5px 15px;
    color: #002D22;
    transition: all .3s ease;
}
header nav ul a:hover{
    color: #00B588;
}
header .loginbtn{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #00B588;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all .3s ease;
    text-decoration: none;
}
header .loginbtn:hover{
    background: transparent;
    border: 2px solid #00B588;
    color: #00B588;
}
header #menu-icon{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1350px){
    header nav{
        padding: 15px 4%;
    }
}
@media (max-width: 860px){
    header #menu-icon{
        display: block;
    }
    header nav ul{
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #6BA1C4;
        transition: all .5s ease;
        text-align: center;
    }
    header nav ul a{
        color: #fff;
        padding: 1rem;
        margin: 1rem;
        display: block;
    }
    header nav ul a:hover{
        background: #fff;
        color: black;
    }
    nav ul.open{
        top: 100%;
    }
    main #hero{
        display: none;
    }
    main {
        display: flex;
        width: 100%;
        justify-content: center !important;
        margin-top: 13% !important;
    }
    main #maintext{
        font-size: 100px !important;
        text-align: center;
        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }
}
#loginbg{
    width: 70%;
}
#loginbg img{
    width: 100%;
}
.loginbody{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
form{
    display: flex;
    flex-direction: column;
    padding: 200px;
    margin-left: -550px;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 500px;
    font-size: 20px;
    border: 1px solid #6BA1C4;
    box-shadow: 4px 4px 4px #6ba0c413;
    border-radius: 35px;
    background: #0a0e39b6;
    backdrop-filter: blur(20px);
}
form #logintxt{
    font-size: 40px;
}
form div{
    margin: 15px;
}
form input{
    width: 300px;
    padding: 10px;
    background-color: rgba(27, 35, 102, 0.56);
    color: #fff;
    border: transparent;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    margin-top: 5px;
}
form .loginsub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
form #loginsubbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background: #3654b1;
    color: #fff;
    font-size: 20px;
    border: 3px solid;
    border-radius: 20px;
    border: 2px solid #3654b1;
    cursor: pointer;
    transition: all 0.2s ease;
}
form #loginsubbtn:hover{
    background: transparent;
    border: 2px solid #3654b1;
    color: #fff;
}
form a{
    text-decoration: none;
    color: #6BA1C4;
    font-size: 15px;
}
form a:hover{
    color: aliceblue;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease;
}
main{
    display: flex;
    justify-content: space-around;
}
main .home{
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;  
}
main #hero{
    width: 40%;
    align-content: center;
}
main #hero img{
    width: 100%;
}
main #maintext{
    margin-top: 10%;
    font-size: 95px;
}
main #smalltext{
    color: #8c9e8f;
    font-size: 25px;
    margin-top: 10px;
}
main .getstartedbtn{
    margin-top: 50px;
}
main .getstartedbtn a{
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #6BA1C4;
    border: solid 3px #6BA1C4;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 10px 20px;
}
main .getstartedbtn a:hover{
    background-color:#1B2366;
    border: solid 3px #6BA1C4;
}
@media (max-width: 1470px){
    main #maintext{
        font-size: 75px !important;
    }
    main{
        align-items: center;
        align-content:center;
    }
    main #smalltext{
        font-size: 20px!important;
        margin-top: 20px;
    }
    main .getstartedbtn a{
        font-size: 15px;
    }
    footer{
        margin-top: 30px !important;
    }
    form{
        margin-left: 0;
    }
}
@media (max-width:1160px) {
    main #maintext{
        font-size: 60px!important;
        width: 50%;
    }
    main{
        align-content:center;
        width: 100%;
    }
    main .home{
        width: 50%;
    }
    main #smalltext{
        font-size: 15px!important;
        margin-top: 20px;
    }
    main .getstartedbtn a{
        font-size: 15px;
    }
    form{
        margin-left: 0;
    }
    footer{
        margin-top: 30px!important;
    }
}
@media (max-width: 1023){
    main #hero{
        width: 40%;
    }
    main .home{
        width: 50%;
    }
    form{
        margin-left: 0;
    }
}
@media (max-width:981px) {
    main #maintext{
        font-size: 90px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    form{
        margin-left: 0;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}

@media (max-width: 768px) {
    main #maintext{
        font-size: 80px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    form{
        margin-left: 0;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}

@media (max-width: 600px) {
    main #maintext{
        font-size: 70px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    form{
        margin-left: 0;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}

@media (max-width: 500px) {
    main #maintext{
        font-size: 60px!important;
    }
    main{
        align-items: center;
        align-content:center;
        width: 100%;
    }
    main #smalltext{
        font-size: 15px!important;
    }
    main.getstartedbtn a{
        font-size: 15px;
    }
    form{
        margin-left: 0;
    }
    footer{
        margin-top: 30px!important;
        width: 100%;
    }
    footer.social{
        width: 100%;
    }
}
.marketmain{
    margin: 10%;
}
.marketmain .title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marketmain .btn-link{
    position: relative;
    min-width: max-content;
}
.marketmain .btn-link{
    color: #002D22;
    transition: all 0.3s ease;
}
.marketmain .btn-link:hover{
    border-bottom: 2px solid #002D22;
}
.marketmain ul{
    display: flex;
    margin-top: 20px;
}
.marketmain ul li{
    padding: 5px 10px;
}
.marketmain ul li a{
    color: #002D22;
    display: inline-block;
    padding: 3px 7px;
    border-radius: 20px;
}
.marketmain ul li a:hover{
    background:#002D22;
    color: #fff;
}
.market-table{
    margin-top: 3%;
    width: 100%;
    border-collapse: collapse;
}
.table-heading,
.table-data{
    padding: 6px;
}
.table-heading{
    text-align: left;
}
.market-table .table-row{
    border-block-end: 3px solid #002D22;
}
.market-table .add-to-fav{
    font-size: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2e7966;
}
.market-table .wrapper{
    display: flex;
    align-items: center;
    min-width: max-content;
}
.market-table .coin-name{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #002D22;
    transition: all 0.3s ease;
}
.market-table .coin-name:hover{
    color: #00B588;
}
.market-table .coin-name span{
    color: #8c9e8f;
    font-size: 13px;
}
.market-table .btn-trade{
    background-color: #fff;
    color: #002D22;
    padding: 3px 8px;
    border: 2px solid #002D22;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.market-table .btn-trade:hover{
    background:#002D22;
    color: #00B588;
}
.market-table .table-body .table-row:hover{
    background-color: #00000080;
}
.product{
    position: relative;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
}
.product-container{
    margin: 0 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar{
    display: none;
}
.product-card{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #002D22;
}
.product-info{
    display: flex;
    align-items: center;
}
.productimg{
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
.product-description{
    padding-left: 20px;
}
.buy-trade-btn{
    color: #002D22;
    background-color: #00B588;
    border: solid 3px #00B588; 
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 20px;
}
.buy-trade-btn:hover{
    background-color:#fff;
    border: solid 3px #00B588;  
}
.nxt-btn,
.pre-btn{
    border: none;
    width: 5vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #00B588 100%);
    cursor: pointer;
    z-index: 9;
}
.pre-btn{
    left: 0;
    font-size: 50px;
    color: #fff;
    transform: rotate(180deg);
    opacity: 0.2;
}
.nxt-btn{
    right: 0;
    font-size: 50px;
    color: #fff;
    opacity: 0.2;
}
.pre-btn:hover,
.nxt-btn:hover{
    opacity: 0.7;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    padding: 10px 10%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: #fff;
}
footer .footer-logo img{
    width: 200px;
    cursor: pointer;
}
.first-part-footer{
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .socials ul{
    display: flex;
}
footer p{
    margin-top: 10px;
}
footer ul li {
    list-style-type: none;
    padding: 0px 10px;
    font-size: 30px;
}
footer ul li i{
    color: #6BA1C4;
    transition: all 0.2s;
}
footer ul li i:hover{
    color: #fff;
}
footer .second-part-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .second-part-footer div{
    width: 200px;
    margin-top: 30px;
}
.second-part-footer p strong {
    font-size: x-large;
}
.second-part-footer a{
    display: block;
    text-decoration: none;
    color: #6BA1C4;
    box-shadow: inset 0 0 0 0 #6BA1C4;
    color: #6BA1C4;
    padding: 3px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.second-part-footer a:hover{
    box-shadow: inset 200px 0 0 0 #6BA1C4;
    color: white;
}
footer #copyright{
    font-size: 10px;
    color: grey;
}